.homescreen_buttons{
  width: 40%;
  height: 30%;
  font-size: 2.5em;
  font-weight: bold;
  padding: 1rem;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 7%;
  background-color: #d0d4ff;
  border-style: outset;
  border-radius: 10px;

  
}

.homescreen_buttons:hover {
  background-color: #6f79cf;
  font-weight: bold;
  color: #ffffff;
  transition-duration: 300ms;
 
}

.home{
  background-color: #8490fa;
  font-family: Arial, Helvetica, sans-serif;
}

.title_text{
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;

    
}
.welcome_text{
  width: 100%;
  display:flex;
  justify-content: center;
  
}
.textbox{
  display: flex;
  color: #ffffff;
  font-size: 30px;
  justify-content: center;
}
.title{
  display: flex;
  color: #ffffff;
  font-size: 50px;
  justify-content: center;
}