body 
{
  margin: 0;
}

:root
{
  --bg:rgb(24, 26, 27);  
  --bg-accent: #2e2e2e;
  --text-color: #f4f4f4 ;
}




.nav-menue
{
    margin-right: 50px;
    list-style: none;
    display: flex;
    
    gap: 4rem;
    font-size:1.3rem;
}
.nav-logo
{
  display: flex;
  justify-content: first baseline;
  width: 150px;
}

