.Darkmode {
    background-color: rgb(100, 100, 100);
    border-color: rgb(210, 210, 210);
    color: rgb(210, 210, 210);
}

.Darkmode input {
    background-color: rgb(100, 100, 100);
    color: white;
}

.Lightmode {
    background-color: rgb(242, 242, 242);
    border-color: black;
    color: black;
}


.ColorblindMode {
    background-color: initial;
    border-color: initial;
    color: initial;
}

.VisionMode {
    background-color: rgb(194, 120, 0);
    font-size: xx-large;
    border-color: turquoise;
    color: turquoise;
}
img {
    filter: none;
}

.DistinctMode {
    background-color: aquamarine;
}

.Button {
    position: relative;
    text-align: center;
    border: 1px solid;
}

.container > .Button {
    border: 0px none;
}

.Button > img {
    max-width: 45px;
    max-height: 45px;
    left: 25%;
}

img.Button {
    max-width: 30px;
    max-height: 30px;
    left: 25%;
}

.ColorblindMode.Button {
    text-align: left;
}

.ColorblindMode.Button > img {
    left: 0%;
}

img.ColorblindMode.Button {
    left: 0%;
}

.VisionMode.Button {
    font-size: inherit;
}

.Button:hover {
    filter: brightness(150%);
}

.Settings {
    right: 0%;
    position: absolute;
}

.ColorblindMode.Settings {
    left: 0%;
    bottom: 0%;
}
